.green {
	background-color: green;
	width: 40px;
	height: 60px;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 5px;
	transition: width 1s, height 1s, margin-right 1s, margin-left 1s;
	display: inline-block;
}
.green:hover {
	width: 60px;
	height: 90px;
	margin-right: 13px;
	margin-left: 13px;
}
#menu {
	margin: auto;
	padding: 40px;
	float: left;
	display: block;
	margin-top: 30px;
}
.titleBox {
	font-size: 60px;
	margin-left: 30px;
	display: inline-block;
	float: left;
}
.title {
	font-family: 'Bangers', cursive;
	margin-top: 30px;
}
.shadow {
	text-shadow: 3px 3px 3px;
}
.red {
	background-color: red;
	width: 100px;
	height: 100px;
	border-radius: 5px;
	transition: background-color 1s;
}
.red:hover {
	background-color: yellow;
}
.blue {
	background-color: blue;
	width: 100px;
	height: 100px;
	border-radius: 5px;	
	margin-top: 10px;
	transition: transform 1s, scale 1s;
}
.blue:hover {
	transform: rotateZ(360deg) scale(2);
}
.menu {
	height: 50px;
	margin: auto;
	background-color: grey;
	margin-bottom: 20px;
	text-align: center;
}
ul {
    margin:0 auto;
    padding:0;
    list-style-type:none;
    display: inline-block;
    border-collapse: collapse;
}
ul > li {
	margin: 2px;
	display: inline-block;
	padding: 0px;
	float: left;
	border: solid black 1px;
	border-collapse: collapse;
}
ul > li > a {
	display: block;
	border-bottom: solid black 1px;
	/*border-collapse: collapse;*/
}
